body {
font-family: 'Montserrat', sans-serif;
}

/* HEADER */

.container-header {
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 32px;
padding-left: 5%;
padding-right: 5%;
padding-bottom: 32px;
background-color: #F5EEEE;
}

.btn-header {
    color: #000000;
    font-weight: 600;
    padding: 12px 24px;
    border: 2px solid #000000;
    border-radius: 90px;
    background-color: transparent;
}

.btn-header:hover {
    color: #3C3640;
    cursor: pointer;
    border: 2px solid #3C3640;
}

/* HOME */
.container-home {
    display: flex;
    height: 580px;
    align-items: center;
    background-color: #F5EEEE;
   
}

.texts-home {
flex-direction: column;
width: 549px;
padding-left: 8%;
padding-right: 5%;
}

.texts-home h1 {
    font-family: "Playfair Display";
    font-size: 56px;
    line-height: 64px;
    padding-bottom: 16px;
    font-weight: 700;
   
}

.texts-home h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 32px;
}

#btn-home-container {
    display: flex;
    
    
}
.btn-home {
    display: flex;
    align-items: center;
    padding-left: 5%;
    border: 0px;
    color: #FFFFFF;
    padding: 20px 40px;
    gap: 10px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    border-radius: 90px;
    background-color: #AF05AA;
}

.btn-home:hover {
    background-color: #8A0B86;
    cursor: pointer ;
}

.img1 {
    display: flex;
    flex-wrap: wrap;
}

.img1 img {
    width: 587px;
}

/* SERVICES */


.services-text {
    padding-left: 8%;
}

#h3-services {
    font-family: 'Montserrat', sans-serif;
    color: #AF05AA;
    padding-top: 96px;
    padding-bottom: 16px;
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;

}

#h1-services {
    font-family: "Playfair Display";
    font-weight: 700;
    line-height: 56px;
    font-size: 44px;
    padding-bottom: 46px;

}

.cards-container {
    padding-left: 72px;
}

.img-container {
    height: 324px;
    width: 357px;
    border: 1px rgb(207, 206, 206) solid;
    border-radius: 32px 32px 0px 0px

}

.img-container img {
    width: 100%;
    height: 100%;
    border-radius: 32px 32px 0px 0px ;
    
  
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFF8F8;
    border-radius: 0px 0px 32px 32px;
    border: 1px solid rgb(207, 206, 206);
    height: 152px;
    width: 357px;
}

.card-text h4 {
    font-family: "Playfair Display";
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    padding-left: 32px;
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 8px;
}

.card-text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding-left: 8%;
    padding-right: 8%;
    gap: 20px;
    
}
.services-container {
    padding-bottom: 96px;
}
/* WHERE */

.where-container {
    height: 292px;
    background-color: #F5EEEE;
    padding-bottom: 26px;
    
}
.street {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8%;
    gap: 8px;

}
.street p {
    font-family: Montserrat;
    font-size: 20px;
    line-height: 26px;

}

/* MAP */

.map {
    display: block;
    align-content: space-around;

}

/* FOOTER */

.container-footer {
    display: flex;
    background-color: #EA21A2;
    justify-content:space-between;
    align-items: center;
    padding-left: 5%;
}

.footer-text{
    display: flex;
    flex-direction: column;
    height: 186px;
    justify-content: center;
    color: #FFFFFF;
}

.footer-text h1 {
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
}

.footer-text h1 span {
    font-weight: 700;
}

.footer-text h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.logos {
    display: flex;
    height: 100%;
    flex-direction: row;
    padding-right: 5%;
   
}

@media only screen and (max-width: 414px) {

    body {
        width: 414px;
        font-family: 'Montserrat', sans-serif;
        }
        
        /* HEADER */
        
        .container-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 32px;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 32px;
        background-color: #F5EEEE;
        }
        
        .btn-header {
            color: #000000;
            font-weight: 600;
            padding: 12px 24px;
            border: 2px solid #000000;
            border-radius: 90px;
            background-color: transparent;
        }
        
        .btn-header:hover {
            color: #3C3640;
            cursor: pointer;
            border: 2px solid #3C3640;
        }
        
        /* HOME */
        .container-home {
            display: flex;
            flex-wrap: wrap;
            height: 865px;
            align-items: center;
            background-color: #F5EEEE;
           
        }
        
        .texts-home {
        flex-direction: column;
        width: 549px;
        padding-left: 8%;
        padding-right: 5%;
        }
        
        .texts-home h1 {
            font-family: "Playfair Display";
            font-size: 50px;
            line-height: 60px;
            padding-bottom: 16px;
            font-weight: 700;
           
        }
        
        .texts-home h3 {
            font-family: 'Montserrat', sans-serif;
            font-size: 20 px;
            line-height: 26px;
            padding-bottom: 32px;
        }
        
        #btn-home-container {
            display: flex;
            justify-content: center;
        }
        .btn-home {
            display: flex;
            align-items: center;
            padding-left: 5%;
            border: 0px;
            color: #FFFFFF;
            padding: 20px 40px;
            gap: 10px;
            font-family: 'Manrope', sans-serif;
            font-weight: 600;
            border-radius: 90px;
            background-color: #AF05AA;
        }
        
        .btn-home:hover {
            background-color: #8A0B86;
            cursor: pointer ;
        }
        
        .img1 {
            display: flex;
            flex-wrap: wrap;
            width: 414px;
            justify-content: center;
            padding-top: 5%;
        
            
        }
        
        .img1 img {
            width: 390px; 
           
        }
        
        /* SERVICES */
        
        
        .services-text {
            padding-left: 8%;
            padding-right: 5%;
        }
        
        #h3-services {
            font-family: 'Montserrat', sans-serif;
            color: #AF05AA;
            padding-top: 15%;
            padding-bottom: 16px;
            font-weight: 700;
            line-height: 24px;
            font-size: 16px;
        
        }
        
        #h1-services {
            font-family: "Playfair Display";
            font-weight: 700;
            line-height: 56px;
            font-size: 40px;
            padding-bottom: 46px;
        
        }
        
        .cards-container {
            padding-left: 72px;
        }
        
        .img-container {
            height: 324px;
            width: 357px;
            border: 1px rgb(207, 206, 206) solid;
            border-radius: 32px 32px 0px 0px
        
        }
        
        .img-container img {
            width: 100%;
            height: 100%;
            border-radius: 32px 32px 0px 0px ;
            
          
        }
        
        .card-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background: #FFF8F8;
            border-radius: 0px 0px 32px 32px;
            border: 1px solid rgb(207, 206, 206);
            height: 152px;
            width: 357px;
        }
        
        .card-text h4 {
            font-family: "Playfair Display";
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            padding-left: 32px;
            padding-top: 32px;
            padding-right: 32px;
            padding-bottom: 8px;
        }
        
        .card-text p {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            line-height: 24px;
            padding-left: 32px;
            padding-right: 32px;
            padding-bottom: 32px;
        }
        
        .cards-container {
            display: flex;
            flex-wrap: wrap;
            justify-content:space-around;
            padding-left: 8%;
            padding-right: 8%;
            gap: 20px;
            
        }
        .services-container {
            padding-bottom: 5%;
        }
        /* WHERE */
        
        .where-container {
            height: 292px;
            background-color: #F5EEEE;
            padding-bottom: 10%;
            
        }
        .street {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 8%;
            gap: 8px;
        
        }
        .street p {
            font-family: Montserrat;
            font-size: 20px;
            line-height: 8%;
        
        }
        
        /* MAP */
        
        .map {
            display: block;
            align-content: space-around;
        
        }
        
        /* FOOTER */
        
        .container-footer {
            display: flex;
            background-color: #EA21A2;
            justify-content:space-around;
            align-items: center;
        }
        
        .footer-text{
            display: flex;
            flex-direction: column;
            height: 186px;
            justify-content: center;
            color: #FFFFFF;
            padding-left: 3%;
        }
        
        .footer-text h1 {
            font-family: "Playfair Display";
            font-weight: 400;
            font-size: 40px;
            line-height: 50px;
        }
        
        .footer-text h1 span {
            font-weight: 700;
        }
        
        .footer-text h5 {
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            line-height: 20px;
        }
        
        .logos {
            display: flex;
            height: 100%;
            flex-direction: row;
        }

    }

